
<div style="background-image: url('../assets/service.png'); background-size: 100% 100%; width: 1110px; height: 450px;" class="img-fluid" alt="Responsive image">

    
    </div>
    
    <br>
    <div class="brook-service-modern ptb--150 ptb-md--80 ptb-sm--60 bg_color--1">
        <div class="container">
        <div class="row">
        <div class="col-lg-4 col-12">
        <div class="modern-service">
        <h3 class="heading heading-h3 line-height-1-42 wow move-up">
         <img  src="../assets/andriod.png"  class="img-fluid" alt="Responsive image">
        </h3>
        </div>
        </div>
        <div class="col-lg-7 offset-lg-1 col-12 mt_md--30 mt_sm--30" style="margin-top: 15px;">
        <div class="modern-service wow move-up">
        <h2 class="heading heading-h5">70% of all Global users run an Android device!</h2>
        <div class="bkseparator--20"></div>
        <h2 class="heading heading-h5 body-color line-height-1-62">Your business cannot afford to miss out the chance to build relationship with so many people in the world. </h2>
        <div class="bkseparator--30"></div>
        <p class="bk_pra">We focus on building Android applications that engage users to your business. With our vast experience in Android Core System, We can build any kind of application you need regardless of your industry. Whether Clean & Modern design or complex functionalities we have got it all covered.
        </div>
        </div>
        </div>
        </div>
        </div>