
<div style="background-image: url('../assets/image.png'); background-size: 100% 100%; width: 1110px; height: 450px;" class="img-fluid" alt="Responsive image">
    

 
</div> 
<div class="row">
  
    <div class="col-lg-4 col-md-6 mb-4" style=" background-color: brown;">
      <div class="card h-100">
        <div class="card-body" style="background-color: cadetblue;">
     
        <div>
            <div class="modern-service wow move-up" >
                <div class="bkseparator--20"></div>
                <div class="contact-form" style="border: deepskyblue;">
                    <form id="contact-form"  >
                    <div class="row" style="height: 350px; ">
                    <div class="col-lg-12" >
                    <input style=" width: 310px;" name="con_name" type="text" placeholder="Name *">
                    </div>
                    <div class="col-lg-12 mt--30">
                    <input style=" width: 310px;" name="con_email" type="text" placeholder="Email *">
                    </div>
                    <div class="col-lg-12 mt--30">
                    <input style=" width: 310px;" name="phone" type="text" placeholder="Phone number">
                    </div>
                    <div class="col-lg-12 mt--30">
                    <textarea style=" width: 310px;" name="con_message" placeholder="Your message"></textarea>
                    </div>
                    <div class="col-lg-12 mt--30">
                    <input style="text-align: center;" type="submit" value="Send message">
                    <p class="form-messege">
            
                    </p>
                    </div>
                    </div>
                    </form>
                
               </div>
            </div>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 mb-4" style="background-color: darkseagreen;">
      <div class="card h-100">
        <div class="card-body" style="background-color: dodgerblue;">
          
            


            <div class="contact-modern pb--120 pb_md--80 pb_sm--80">
                <div class="container">
                <div class="row align-items-end">
                <div class="col-lg-6 col-12 pr--50 ptb-md--80 ptb-sm--80">
                 <div style="border-radius: 40px; margin-top:20px;" class="contact-modern bg_color--18  pt--120 pb--120 pl--60 pr--60">
                <div class="inner">
                <h2 class="heading heading-h2 text-white">✉️ <br />Let's Talk!</h2>
                <div class="classic-address text-left mt--60">
                <h4 class="heading heading-h4 text-white">Visit our HQ at</h4>
                <div class="desc mt--15">
                <p class="bk_pra line-height-2-22 text-white">Maya 1, House 1/C 1/D Road 16 <br>
                Nikunja 2,
                Dhaka 1229, Bangladesh 🇧🇩 </p>
                </div>
                </div>
                <div class="classic-address text-left mt--60">
                <h4 class="heading heading-h4 text-white">Message us</h4>
                <div class="desc mt--15 mb--30">
                    <P style="color: white;">hello@iotait.tech</P>
                </div>
                <div class="social-share social--transparent " >
                
                <mat-icon >
                    <a style="background-color:white;" href="https://www.facebook.com/iotait.tech/"> facebook</a> 

                 </mat-icon>
                 
            
            
            </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>

         
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
          <!--        <a ><img style=" height: 235px;" class="card-img-top" src= "../assets/m3.jpg"  alt=""></a>
-->
        <div class="card-body" style="background: turquoise;  font-size: 20px;padding: 2px;">
            <br>
            <br>
            
            <br>
         <p>Delivery</p>
          
           <p style="color: whitesmoke;">Our final step involves reviewing the </p> 
           
           <p style="color: brown;"> full software and run extensive unit</p>
            <p style="color: blue;">tests in order to deliver a fully functional solution.</p> 
        
        </div>
      </div>
    </div>

  </div>



<div>
<div class="google-map-area"  >
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.5620166544754!2d90.41601775054605!3d23.8341687914121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c72c3430d57f%3A0x3b01d75ab4ab8f74!2sIOTA+IT!5e0!3m2!1sen!2sbd!4v1566037990664!5m2!1sen!2sbd" width="1120" height="350" frameborder="0" style="border:0" allowfullscreen ></iframe>
     </div>


    </div>

    

  

  
        