<div style="background-image: url('../assets/game.jpg'); background-size: 100% 100%; width: 1110px; height: 450px;" class="img-fluid" alt="Responsive image">
    <!--
<div _ngcontent-geq-c2="" class="container">
        <div _ngcontent-geq-c2="" class="row">
            <div _ngcontent-geq-c2="" class="col-md-4">
            <div _ngcontent-geq-c2="" class="info">
                <div _ngcontent-geq-c2="" class="icon icon-danger">
                    <i _ngcontent-geq-c2="" class="nc-icon nc-layout-11"></i>
                </div>
                <div _ngcontent-geq-c2="" class="description">
                    <h4 _ngcontent-geq-c2="" class="info-title"> Huge Number of Components </h4>
                    <p _ngcontent-geq-c2="">The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
                </div>
            </div>
        </div>
        <div _ngcontent-geq-c2="" class="col-md-4"
        ><div _ngcontent-geq-c2="" class="info">
            <div _ngcontent-geq-c2="" class="icon icon-danger">
                <i _ngcontent-geq-c2="" class="nc-icon nc-tile-56"></i>
            </div><div _ngcontent-geq-c2="" class="description">
                <h4 _ngcontent-geq-c2="" class="info-title"> Multi-Purpose Sections </h4><p _ngcontent-geq-c2="">The sections will help you generate pages in no time. From team presentation to pricing options, you can easily customise and built your examples.</p></div></div></div><div _ngcontent-geq-c2="" class="col-md-4"><div _ngcontent-geq-c2="" class="info"><div _ngcontent-geq-c2="" class="icon icon-danger"><i _ngcontent-geq-c2="" class="nc-icon nc-paper"></i></div><div _ngcontent-geq-c2="" class="description"><h4 _ngcontent-geq-c2="" class="info-title"> Example Pages </h4><p _ngcontent-geq-c2="">Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    -->
    

  

    </div>
    <br>
    <div class="brook-service-modern ptb--150 ptb-md--80 ptb-sm--60 bg_color--1">
        <div class="container">
        <div class="row">
        <div class="col-lg-4 col-12">
        <div class="modern-service">
        <h3 class="heading heading-h3 line-height-1-42 wow move-up">
         <img  style="width: 350px;" src="../assets/game1.png"  class="img-fluid" alt="Responsive image">
        </h3>
        </div>
        </div>
        <div class="col-lg-7 offset-lg-1 col-12 mt_md--30 mt_sm--30" style="margin-top: 15px;">
       
       <br><br><br><br>
            <div class="modern-service wow move-up" >
        <div class="bkseparator--20"></div>
        <h2 class="heading heading-h5 body-color line-height-1-62">Your business cannot afford to miss out the chance to build relationship with so many people in the world. </h2>
        <div class="bkseparator--30"></div>
        <p class="bk_pra">We focus on building Android applications that engage users to your business. With our vast experience in Android Core System, We can build any kind of application you need regardless of your industry. Whether Clean & Modern design or complex functionalities we have got it all covered.
        </div>
        </div>
        </div>
        </div>
        </div>