
<div style="background-image: url('../assets/em1.resized.resized.png'); background-size: 100% 100%; width: 1110px; height: 450px;" class="img-fluid" alt="Responsive image">
    

 
</div>    
<main class="page-content">
<div class="brook-icon-boxes-area space_dec--100 pt_md--80 pt_sm--60" style="color: rgb(15, 57, 94); background-color: darkgray;">
    <div class="container">
    <div class="row">
    
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="icon-box text-center">
    <div class="inner">
    <div class="icon">
    <i class="fas fa-vial"></i>
    </div>
    <div class="content">
    <h2 class="heading heading-h5">Efficient Solution</h2>
    <p class="bk_pra">Every business is software business. Our Software development solution is catered to work for every industry possible to improve your efficiency of doing business and establish a better relationship with the customer and the management.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="icon-box text-center">
    <div class="inner">
    <div class="icon">
    <i class="fas fa-child"></i>
    </div>
    <div class="content">
    <h2 class="heading heading-h5">Young & Energetic</h2>
    <p class="bk_pra">Our team consists of Talented Young & Energetic Software developers and designers. Our revolutionary software development process ensures proper team work and ensures quality product that adds value to your business.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="icon-box text-center">
    <div class="inner">
    <div class="icon">
    <i class="fas fa-question-circle"></i>
    </div>
    <div class="content">
    <h2 class="heading heading-h5">World Class Support</h2>
    <p class="bk_pra">We just don't deliver software, we make sure the delivered software keep on working for years so your business never face a downtime. We maintain quality self hosted cloud servers to ensure maximum uptime for every client</p>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
     </div>   
     <br>
     <div class="brook-whatdo-area ptb--100 ptb-md--80 ptb-sm--60 bg_color--1 " style="background:blue; " >
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="bk-title--default text-left">
        <h1  class="heading heading-h5 theme-color" style="color: darkturquoise;">What we do</h1>
        <div class="bkseparator--30"></div>
        <h3 class="heading heading-h3" style="color: cornsilk; font-size: 15px;">Providing Software solution for every business</h3>
        </div>
        </div>
        </div>
        <div class="row mt--40 mt_md--20 mt_sm--5">
        <div class="col-xl-2 col-lg-2">
        <div class="what-do mt--40 mt_md--5 mt_sm--5">
        <div class="basic-separator line-3"></div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="what-do mt--40">
        <div class="content" style="background-color: rgb(230, 240, 235);">
        <h3 class="heading heading-h5 theme-color wow move-up" style="text-align: center;">Mission</h3>
        <div class="bkseparator--20"></div>
        <p class="bk_pra wow move-up" style="font-size: 15x; text-align: justify; padding: 2px;">IOTA IT provides exciting, new-age software products to clients around the globe. We believe real innovation consists of implementing relevant high tech solutions to actual business problems. We aspire to improve developers' to a point where they are seen as tech industry thought leaders and who produce leading edge technology.</p>
        </div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 offset-xl-1">
        <div class="what-do mt--40">
        <div class="content" style="background-color: rgb(230, 240, 235);">
        <h3 class="heading heading-h5 theme-color wow move-up" style="text-align: center;">Vision</h3>
        <div class="bkseparator--20"></div>
        <p class="bk_pra wow move-up" style="font-size: 15x; text-align: justify; padding: 2px;">Our Vision is to be a leading Software Solution company in IT sector and progress in our current position in market. We want to unleash the full potential of the amazing pool of the software engineers in Bangladesh. Also, we want to establish us a front runner among local Business who tends to welcome new technology whenever possible. </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        
       
        
        </main>
        
        