
<div style="background: deepskyblue;">


<div style="background-image: url('../assets/ios.png'); background-size: 100% 100%; width: 1110px; height: 450px; ">
    <!--
<div _ngcontent-geq-c2="" class="container">
        <div _ngcontent-geq-c2="" class="row">
            <div _ngcontent-geq-c2="" class="col-md-4">
            <div _ngcontent-geq-c2="" class="info">
                <div _ngcontent-geq-c2="" class="icon icon-danger">
                    <i _ngcontent-geq-c2="" class="nc-icon nc-layout-11"></i>
                </div>
                <div _ngcontent-geq-c2="" class="description">
                    <h4 _ngcontent-geq-c2="" class="info-title"> Huge Number of Components </h4>
                    <p _ngcontent-geq-c2="">The kit comes with components designed to look perfect together. All components fit perfectly with each other.</p>
                </div>
            </div>
        </div>
        <div _ngcontent-geq-c2="" class="col-md-4"
        ><div _ngcontent-geq-c2="" class="info">
            <div _ngcontent-geq-c2="" class="icon icon-danger">
                <i _ngcontent-geq-c2="" class="nc-icon nc-tile-56"></i>
            </div><div _ngcontent-geq-c2="" class="description">
                <h4 _ngcontent-geq-c2="" class="info-title"> Multi-Purpose Sections </h4><p _ngcontent-geq-c2="">The sections will help you generate pages in no time. From team presentation to pricing options, you can easily customise and built your examples.</p></div></div></div><div _ngcontent-geq-c2="" class="col-md-4"><div _ngcontent-geq-c2="" class="info"><div _ngcontent-geq-c2="" class="icon icon-danger"><i _ngcontent-geq-c2="" class="nc-icon nc-paper"></i></div><div _ngcontent-geq-c2="" class="description"><h4 _ngcontent-geq-c2="" class="info-title"> Example Pages </h4><p _ngcontent-geq-c2="">Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    -->
    <div>
        <br>
        <h1   style="color: crimson; font-size: 40px; "> Buils Premium Quality</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
         <h1 style="color: white; font-size: 40px; text-align: center;"> iOS </h1>
   
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <h1   style="color: crimson; font-size: 40px; text-align: end;"> applications for iPhone & iPad</h1>

        </div>
    </div>
    
    <br>
  


        <div class="brook-service-modern ptb--150 ptb-md--80 ptb-sm--60 bg_color--1">
            <div class="container">
            <div class="row">
            <div class="col-lg-4 col-12">
            <div class="modern-service">
            <h3 class="heading heading-h3 line-height-1-42 wow move-up">
             <img style="width: 350px; height: 245px;"  src="../assets/iosapp.jpg"  alt="">
            </h3>
            </div>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12 mt_md--30 mt_sm--30" style="margin-top: 15px;">
            <div class="modern-service wow move-up">
            <h2 class="heading heading-h5">Take your business to the Next level with an iOS App</h2>
            <div class="bkseparator--20"></div>
            <h2 class="heading heading-h5 body-color line-height-1-62">Custom iPhone app development is the next generation marketing tool used by global companies to reach new markets and customers. </h2>
            <div class="bkseparator--30"></div>
            <p class="bk_pra">Did you know that iPhone application development could take your business to the next level? iPhone app development is a new profitable way of business empowerment that businesses of all size are excitingly interested in. Around 1 billion iPhones were sold by the end of 2016! Don’t you think this is an opportunity to grab opportunities in your market.
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>