 <!-- Page Content -->
 <div class="container">

    <div class="row">

      <div class="col-lg-3" style="background: darkblue;">
          <div >
        <mat-nav-list style="font-size: 17px;  font-family: monospace; " >
       <!--<div class="list-group">--> 
            <a class="list-group-item"style="background: rgb(144, 226, 226);" [routerLink]="['/employees']">Employe List</a>
            <a class="list-group-item" style="background: rgb(144, 226, 226);" [routerLink]="['/addemployee']" >Add New Employee</a>
            <a class="list-group-item"  style="background: rgb(144, 226, 226);"[routerLink]="['/#']" >Department</a>
            <a class="list-group-item" style="background: rgb(144, 226, 226);" [routerLink]="['/project']" >Project Information</a>
            
            <!-- <a class="list-group-item" style="background: rgb(144, 226, 226);" [routerLink]="['/#']" >Slalary Grade</a>
            <a class="list-group-item" style="background: rgb(144, 226, 226);" [routerLink]="['/#']" >Employee Bouns</a>
-->
           
        </mat-nav-list>


        <!--<a href="#" class="list-group-item">Employee List</a>
          <a href="#" class="list-group-item">Add Employee</a>
          <a href="#" class="list-group-item">Category 3</a>-->
       <!-- </div>-->     
    </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        

        <div class="row">

         

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  