

<div class="container">
  <div style="text-align: center;">
    <input type="text"  placeholder="search employee name" [(ngModel)]="searchValue">

  </div> 
    <h2>Employee List</h2>   
    
<!--class="table table-striped"-->
      
    <table  border="1" class="table table-striped  ">
      <thead>
        <tr>
          <!--<th>Employee ID</th> -->
         
          <th>Employee Name</th>
          <th>Job</th>
          <th>Group Manager</th>
           <th>Hire Date</th>
           <th>Salary</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | searchfilter:searchValue">
        <!--<td>{{employee.employeeId}}</td>-->
          
          <td>{{employee.employeeName}}</td>
          <td>{{employee.job}}</td>
          <td>{{employee.boss}}</td>
          <td>{{employee.hireDate}}</td>
          <td>{{employee.salary | currency:'BDT' }}</td>
         
           <td>
            <button type="button" class="btn btn-primary" (click)=" goToEditEmployee(employee.employeeId)">Edit</button>&nbsp;
            <button type="button" class="btn btn-info" (click)="goToViewEmployee(employee.employeeId)">View</button>&nbsp;
           <!--            <button type="button" class="btn btn-danger" (click)="goToDeleteProduct(products.id)">DEL</button>
-->



          </td>
        
         
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary"(click)="gotolist()" >Back</button>
  </div>